<footer class="main-footer" role="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <ul class="nav">
          <li><a href="https://getsandbox.com"><i class="glyphicon glyphicon-home"></i></a></li>
          <li><a href="https://getsandbox.com/docs">Documentation</a></li>
          <li><a href="http://support.getsandbox.com">Help &amp support</a></li>
          <li><a href="http://blog.getsandbox.com">Blog</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-5"><p>&copy; 2014 Sandmox</p></div>
    </div>
  </div>
</footer>