<header class="navbar navbar-static-top">

    <div id="brand" class="navbar-header">
      <a href="http://blog.getsandbox.com" class="navbar-brand"><span>Sandbox</span><span class="light-text"> blog</span></a>
    </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://getsandbox.com">Homepage</a></li>
        <li><a class="twitter-button" href="https://twitter.com/_getsandbox">Follow @_getsandbox</a></li>
      </ul>
    </nav>

</header>