<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          {% include navbar.html %}

          {% assign author = site.authors[page.author] %}
            <div class="panel panel-default">
              <div class="panel-body">
                <h2 class="blog-title"><a href="{{ post.url }}">{{ page.heading }}</a></h2>
                <p class="author">
                  <span class="date">{{ author.name }}, {{ site.time | date: "%B %-d, %Y" }}</span>
                </p>
                <hr>
                {{ content }}
              </div>
            </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>